#about1, #about2, #about3, #about4, #about5, #about6{
color:brown;
text-decoration:bold;
text-align:center;

}
#about7{
color:red;
display:flex;

text-align:center;
}
h3{
 background-color:green;
 color:red;
 padding:40px;
 margin:30px;
}
p{

 color:purple;

}
#form{
 background-color:navy blue;
color:marron;
padding:200px,400px;
border-radius:400px;
}
#contact_form{
  background-color:green;
 color:purple;
 text-decoration:bold;



}