<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css/">
    <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css/">
</head>
<body>
<h1 id="about7">Lang Reading</h1>




<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LANG READING</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="book_details.html">Book Details</a>
           <a class="nav-link" href="book_list.html">Book List</a>
           <a class="nav-link" href="contact.html">Contact</a>
<!--        <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
      </div>
    </div>
  </div>
</nav>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media.istockphoto.com/id/2162169948/photo/bookstore.jpg?s=612x612&w=0&k=20&c=UiB9bn_uSwsVmjiICIx4-LqieRz65xorcNCJL9SV7VM=" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/id/1334509802/photo/student-taking-book-in-library.jpg?s=612x612&w=0&k=20&c=Vpulk9fOcaesWmgHa9OcjI6Cb03hPhSmQ6O1ACPYrcw=" class="d-block w-100" alt="Lang Reading">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/id/1398123845/photo/used-book-market.jpg?s=612x612&w=0&k=20&c=_qq1QPxQx4Ej_y-_m8bC54XKOr0ol1_bRUPAPwsx4C8=" class="d-block w-100" alt="Welcome">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>









<h3 id="about1">Larn Reading is back</h3>
<h2 id="about2">It fun it super</h2>
<p id="about3">With offers read and explain offer <mark>Come one, come all</mark></p>
<p id="about4">Register is just 200kes <mark>Your skills lifer</mark></p>
<p id="about5">Read with friends <mark>develop your reading habit</mark></p>
<p id="about6">lighten your future <mark>Lang reading,developing mature leaders</mark></p>
<a href="book_details.html">Our books</a>

</body>
</html>