<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
     <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css/">
     <link rel="stylesheet" href="../../static/assets/styles/main.css/">
</head>
<body>
<h1 id="about7">Lang Reading</h1>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LANG READING</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
        <a class="nav-link" href="about.html">About</a>
        <a class="nav-link" href="book_details.html">Book Details</a>
           <a class="nav-link" href="#">Book List</a>
           <a class="nav-link" href="contact.html">Contact</a>
<!--        <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
      </div>
    </div>
  </div>
</nav>

<H4>Welcome to our book outline is below</H4>

<table id="table">
  <tr>
    <th>title</th>
    <th>author</th>
    <th>price</th>
    <th>description inputs</th>
  </tr>
  <tr>
    <td>The Source Code.</td>
    <td>Biscard Aha.</td>
    <td>500Kes.</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate inventore veniam.</td>
  </tr>
  <tr>
    <td>The High shaft</td>
    <td>Hassan G</td>
    <td>700Kes</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid ipsa mollitia.</td>
    
  </tr>
  <tr>
    <td>The Samari</td>
    <td>John K</td>
    <td>750Kes</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque magnam placeat!</td>
  </tr>
  <tr>
    <td>The Samari</td>
    <td>John K</td>
    <td>750Kes</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque magnam placeat!</td>
  </tr>
  <tr>
    <td>The Samari</td>
    <td>John K</td>
    <td>750Kes</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque magnam placeat!</td>
  </tr>
  <tr>
    <td>The Samari</td>
    <td>John K</td>
    <td>750Kes</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque magnam placeat!</td>
  </tr>
</table>

</body>
</html>