{% extends 'base.html' %}
{% block title %}
   book_list-add_books
{% endblock %}
{% block content %}



<H4>Welcome to our book outline is below</H4>

<table id="table">
  <tr>
    <h2>Lang >Reading book list</h2>
    <th>title</th>
    <th>author</th>
    <th>price</th>
    <th>description inputs</th>
  </tr>
  <tr>
    <td>The Source Code.</td>
    <td>Biscard Aha.</td>
    <td>500Kes.</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate inventore veniam.</td>
  </tr>
  <tr>
    <td>The High shaft</td>
    <td>Hassan G</td>
    <td>700Kes</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid ipsa mollitia.</td>
    
  </tr>
  <tr>
    <td>The Samari</td>
    <td>John K</td>
    <td>750Kes</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque magnam placeat!</td>
  </tr>
  <tr>
    <td>The Samari</td>
    <td>John K</td>
    <td>750Kes</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque magnam placeat!</td>
  </tr>
  <tr>
    <td>The Samari</td>
    <td>John K</td>
    <td>750Kes</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque magnam placeat!</td>
  </tr>
  <tr>
    <td>The Samari</td>
    <td>John K</td>
    <td>750Kes</td>
    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eaque magnam placeat!</td>
  </tr>
</table>

{% endblock %}