{% extends 'base.html' %}
{% block title %}
   book_details-add_books
{% endblock %}
{% block content %}



<p>Our Books Consist</p>
<p>kukukuku The offer is here with more than just books but more and more fun,adventure and thrillers.</p>
<p>To Enjoy the stories sign up below</p>
<h2>Sign up</h2>
<form id="form">
  <label>title</label><br>
  <input type="text"><br>
  <label>author</label><br>
  <input type="text"><br>
  <label>price</label><br>
  <input type="number"><br>
  <label>description inputs</label><br>
  <input type="text"><br>
</form>

{% endblock %}