{% extends 'base.html' %}
{% block title %}
   contact-add_books
{% endblock %}
{% block content %}



<h1>Call dad through this Number</h1>
<h2>0700063070</h2>
<h3>Or find us in our location</h3>
<h4>Parklands,Nairobi,Kenya</h4>

<div class="container text-center">
  <div class="row">
    <div class="col">

        <form id="contact_form">
             <h2>SIGN UP</h2>
            <label>Name</label><br>
            <input type="text"><br>
            <label>Contact</label><br>
            <input type="number"><br>
            <label>Email</label><br>
            <input type="email"><br>
            <label>Address</label><br>
            <input type="text"><br>
            <label>Comment Section</label><br>
            <textarea cols="10" rows="5"></textarea><br>
            <a href="">Submit</a>
        </form>

    </div>

    <div class="col">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4092.7225019107555!2d36.79813531063794!3d-1.264760798717866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1741d28f6777%3A0xc89ebb559b0da912!2seMobilis%20Technology%20Training%20Institute!5e1!3m2!1sen!2ske!4v1771223166920!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
<!--    <div class="col">-->
<!--      Column-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


{% endblock %}
